@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{ box-sizing: border-box;
margin: 0;
padding: o;
}
body{
    font-family: "Merriweather", serif;
}
/* banner section style strats hare   */
.banner-container{
   max-width: 1320px;
    margin: 0 auto;
   border-radius: 16px;
    height: 600px;
    margin-top: 20px;
   background-color: rgba(0, 0, 0, 0.4);
    background-image: url(/style/images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}
.banner-content p, h1{
     color: white;
     font-size: 72px;
font-weight: 900;
}
.banner-content p{
    font-size: 32px;
    font-weight: 400;

}
.banner-content{
    font-size: 72px;
    font-weight: 900;
}
.second-section-container{
    width: 802.9px;
height: 806px;
margin: 0 auto;

margin-top: 20px;}
.second-section-content{
    display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;

}
.second-section-content2{
    color: rgb(255, 0, 0);
    font-family: Inter;
    display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
margin-top: 15px;
size: 25px;
}
.second-section-content3{
    display: flex;
    font-family: Inter;
flex-direction: column;
justify-content: center; 
align-items: center;
margin-top: 15px;
}
.second-section-content {
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
}
.image-container{
    width: 802.9px;
height: 500px;
margin-top: 25px;
}
.image-container img{
    width: 100%;
    height: 100%;
}
/* midnight section style starts hare  */
.midnight-section-container{
    width: 1320px;
height: 600px;
border-radius: 10px;
margin: 0 auto;
display: flex;
background-image: url(./images/Vectorrr.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-color: rgba(0, 0, 0, 0.5);
background-blend-mode: overlay;
margin-bottom: 100px;
}
.leftside-content{
    width: 60%;
    height: 600px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.leftside-content h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    font-weight: 400;
    
   
   
}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-left: 150px;
margin-top: 15px;
}
.rightside-content{
    width: 40%;
    height: 600px;
   
}
#midnight-button{
    width: 103px;
    height: 24px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
margin-top: 20px;
margin-right: 395px;

}
.rightside-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* holyday styles */
.holyday-section-container{
    width: 1320px;
height: 986.07px;
 
 margin: 0 auto;
}
.holyday-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
height: 260px;
margin: 0 auto;
position: relative;
}
.holyday-text-container h5{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.holyday-text-container h1{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
text-align: center;
color: 
rgb(255, 0, 0);
color: 
rgb(7, 2, 17);
margin-top: 15px;
}

#holyday{
    /* color: rgb(255, 0, 0); */
}
.holyday-text-container p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
margin-top: 15px;
}
.solid-color{
    width: 1320px;
height: 229px;
background-color: red;
position: absolute;
margin-top: 487px;
}
.giftbox{
    width: 674.82px;
height: 577.96px;
position: relative;
z-index: 1;
display: flex;
/* margin-left: 40px; */
}
.girl-container{
    justify-content: center;
    align-items: center;
    margin-left: 170px;
    margin-top: 100px;
    /* justify-content: space-between; */
    /* align-items: center; */
}
/* porfolio styles starts */
.porfolio-container{
    width: 1320px;
height: 1163px;

margin: 0 auto;
margin-top: 120px;
}
.portfolio-text-content h5{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 4px;
}
.portfolio-text-content h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 4px;
   

}
.portfolio-text-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 25px;
font-weight: 400;
margin-bottom: 20px;
}
.item{
    width: 424px;
    height: 450px;
   
}
.item{
    width: 100%;
    height: 100;
}
.portfolio-items{
    /* margin-top: 5px; */
}
.portfolio-items img{
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
margin-top: 10px;
}